#codemirror {
  height: 100%;
  min-height: 100%;
  width: 100%;
  border-right: 1px solid @gray-lighter;
}

.lint-border-default {
  border-top: 1px transparent;
}

.lint-border-success {
  border-top: 1px solid @brand-success;
}

.lint-border-warning {
  border-top: 1px solid @brand-warning;
}
