%%-*- mode: erlang -*-
{plugins, [rebar_erlydtl_compiler]}.

{deps, [
  {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.1.0"}}},
  {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", "02b1b28178"}},
  {erlydtl, ".*", {git, "https://github.com/erlydtl/erlydtl.git", {tag, "0.9.4"}}},
  {gettext, ".*", {git, "https://github.com/etnt/gettext.git", {tag, "master"}}},
  {iso8601, ".*", {git, "https://github.com/seansawyer/erlang_iso8601.git", {tag, "1.1.1"}}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.4.0"}}},
  {mimetypes, ".*", {git, "https://github.com/spawngrid/mimetypes.git", {tag, "1.0"}}},
  {uuid, ".*", {git, "https://github.com/okeuday/uuid.git", {tag, "v1.3.3"}}}
 ]}.

{erlydtl_opts, [
  {out_dir, "ebin"},
  {recursive, true},
  {doc_root, "templates"},
  {module_ext, "_dtl"},
  {source_ext, ".dtl"},
  {custom_filters_modules, [
    erlydtl_contrib_humanize
  ]}
]}.

{erl_opts, [{parse_transform, lager_transform}]}.
