%%-*- mode: erlang -*-
{plugins, [rebar_erlydtl_compiler]}.

{deps, [
  {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.1"}}},
  {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.13.3"}}},
  {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.1.0"}}},
  {mimetypes, ".*", {git, "https://github.com/spawngrid/mimetypes.git", {tag, "1.0"}}},
  {erlydtl, ".*", {git, "https://github.com/erlydtl/erlydtl.git", {tag, "0.9.4"}}},
  {gettext, ".*", {git, "https://github.com/etnt/gettext.git", {tag, "master"}}},
  {uuid, ".*", {git, "https://github.com/okeuday/uuid.git", {tag, "v1.3.3"}}}
 ]}.

{erlydtl_opts, [
  {out_dir, "ebin"},
  {recursive, true},
  {doc_root, "templates"},
  {module_ext, "_dtl"},
  {source_ext, ".dtl"}
]}.

{erl_opts, [{parse_transform, lager_transform}]}.
