#editor {
  position: relative;
  height: 100%;
  min-height: 100%;
  margin-right: @sidebar-width;
  border-right: 1px solid @gray-lighter;
}

@import "./editor/modals.less";
@import "./editor/notification.less";
@import "./editor/toolbar.less";
@import "./editor/sidebar.less";
@import "./editor/codemirror.less";
