[
    {
        privatepaste,
        [
            {http_port, 8000},
            {http_listener_count, 1024},
            {nodes, []}
        ]
    },
    {
        kernel,
        [
            {inet_dist_listen_min, 9500},
            {inet_dist_listen_max, 9509}
        ]
    },
    {
        mnesia,
        [
            {dir, "/var/lib/privatepaste"}
        ]
    },
    {
        sasl,
        [
            {sasl_error_logger, {file, "/var/log/privatepaste/sasl.log"}}
        ]
    },
    {
        lager,
        [
            {colored, false},
            {async_threshold, 200},
            {async_threshold_window, 5},
            {error_logger_hwm, 500},
            {crash_log, "/var/log/privatepaste/crash.log"},
            {
                handlers,
                [
                    {lager_console_backend, info},
                    {lager_file_backend, [{file, "/var/log/privatepaste/error.log"}, {level, error}]},
                    {lager_file_backend, [{file, "/var/log/privatepaste/console.log"}, {level, info}]}
                ]
            }
        ]
    }
].
